@font-face {
  font-family: 'ProximaNova-Regular';
  src: url('./fonts/proximanova-regular-webfont.eot');
  src: local('?'),
    url('./fonts/proximanova-regular-webfont.woff') format('woff'),
    url('./fonts/proximanova-regular-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNova-Bold';
  src: url('./fonts/proximanova-semibold-webfont.eot');
  src: local('?'),
    url('./fonts/proximanova-semibold-webfont.woff') format('woff'),
    url('./fonts/proximanova-semibold-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  width: 500px;
  min-height: 360px;
  font-size: 16px;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #1B2326;
}

input, body {
  font-family: 'ProximaNova-Regular', 'Segoe UI', 'Oxygen', 'Ubuntu', 'Cantarell',
  'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

b {
  font-family: 'ProximaNova-Bold', 'Segoe UI', 'Oxygen', 'Ubuntu', 'Cantarell',
  'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
