@font-face {
  font-family: 'Graphik-Bold';
  src: url('./fonts/Graphik-Bold.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Graphik-Light';
  src: url('./fonts/Graphik-Light.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Graphik-Medium';
  src: url('./fonts/Graphik-Medium.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Graphik-Regular';
  src: url('./fonts/Graphik-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Graphik-Semibold';
  src: url('./fonts/Graphik-Semibold.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Graphik-Super';
  src: url('./fonts/Graphik-Super.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

body {
  width: 500px;
  min-height: 360px;
  font-size: 14px;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #f5efe6;
}

input,
body {
  font-family: 'Graphik-Regular', 'ProximaNova-Regular', 'Segoe UI', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

b {
  font-family: 'Graphik-Semibold', 'ProximaNova-Bold', 'Segoe UI', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

input[type='text'] {
  padding: 10px;
  background-color: #fff;
  border: 1px solid #d9d9d9;
  border-radius: 0.4rem;
  line-height: 1.5;
  outline: none;
}

input[type='text']:focus{
  border: 1px solid #2b80cf;
}

.btn {
  padding: 10px;
  line-height: 1.5;
  border-radius: 0.4rem;
  vertical-align: middle;
  text-decoration: none;
  text-align: center;
  white-space: normal;
  background-color: #2b80cf;
  color: #fff;
  width: 50px;
  display: inline-block;
  cursor: pointer;
}

.btn:hover {
  background-color: #2b80cfde;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.color-black {
  color: #01363d;
}

.color-gray {
  color: #778c90;
}

.Section {
  padding: 10px;
}

.Section__Header {
  display: block;
  padding-top: 5px;
  padding-bottom: 5px;
}

table {
  border-collapse: collapse;
}

td, th {
  border: 1px solid #aba8a3;
  padding: 0.5rem;
  text-align: left;
}
