.Settings {
}

.Settings__Body {
  display: block;
  padding-top: 5px;
}

.Settings__Body__Info {
  margin-bottom: 5px;
}

.Settings__Body__Input {
  margin-right: 5px;
  width: 300px;
}

.Settings__Body__Button {
}
