.Header {
  background: #fff;
  line-height: 62px;
  height: 62px;
  border-bottom: 2px solid #e7e4df;
  padding: 0 15px;
}

.Header__Logo {
  font-size: 18px;
  float: left;
  font-family: 'Graphik-Semibold';
}

.Header__Settings {
  float: right;
  text-decoration: underline;
  cursor: pointer;
}
